.circle-container {
  position: relative;
  width: 100%;
  /* --circle-radius: 200px;  */

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.imgs {
  transition: transform 0.3s ease, margin 1s ease-in-out;
}

.imgs:hover {
  transform: scale(1.1);
  z-index: 10;
}


